@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');



img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
    transition: 1s;
}

img:hover {
    filter: grayscale(0%);
}

* {
    box-sizing: border-box;
}

.container {
    max-width: var(--maxWidht);
    margin: 0 auto;
}

body {
    font-family: var(--font);
    font-weight: 300;
    color: var(--maincolor);
    font-size: 1em;
}