@import url(reset.css);
@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');




img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
    transition: 1s;
}

img:hover {
    filter: grayscale(0%);
}

* {
    box-sizing: border-box;
}

.container {
    max-width: var(--maxWidht);
    margin: 0 auto;
}

body {
    font-family: var(--font);
    font-weight: 300;
    color: var(--maincolor);
    font-size: 1em;
}


/*inicio header*/


header {
    padding-top: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav .menu {
    padding: calc(var(--space) * 2) 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.75em;
    padding: 0px 20px;
}


header .container>a {
    display: inline-block;
    text-decoration: none;
    color: var(--maincolor);
    width: 50%;
}

header nav.container #btnMenu {
    width: 50%;
    text-align: right;
}

header nav.container .menu {
    width: 100%;
}

header nav.container .menu li {
    text-align: center;


}

header nav.container .menu a {
    display: inline-block;
    padding: 0.625rem 0rem;
    text-decoration: none;
    color: var(--maincolor);
}

header nav.container .menu .active {
    font-weight: 600;
}

/*fin header/*


/*mediaqueris*/

@media(width >=48rem) {
    header nav.container #btnMenu {
        display: none;
    }

    header nav.container .menu {
        width: 80%;
        order: 1;

    }

    header nav.container .menu li {
        text-align: left;
        display: inline-block;
    }

    header nav .menu {
        padding: 0;
    }

    header nav.container .menu a {
        padding: 0rem var(--space) 0 0;

    }

    header .container>a {
        width: 20%;
        order: 2;
        text-align: right;
    }

}

@media(width >=87.5rem) {
    header .container {
        padding: 0px;
    }
}